.input-wraper {
    text-align: center;    
    padding: 91px 20% 0 20%;
}
.input {
    width: 80%;
    border-top: none;
    border-left:none ;
    border-right: none;
}
::-webkit-input-placeholder {
    text-align: center;
 }